@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Color Pallate */
  --color-primary: #689c45;
  --color-secondary: #d7e1b7;
  --color-secondary-50: #ebf0d6;
  --color-accent: #634120;
  --color-accent-80: #82674b;
  --color-accent-60: #a18d75;
  --color-light: #fffff5;
  --color-dark: #201912;
  --color-dark-80: #4c4740;
  --color-dark-60: #79756d;
  --color-gray: #666665;

  /* Text Styles */
  --font-family-body: "Inter", sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-base: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 32px;

  /* Border Radius */
  --border-radius-sm: 6px;
  --border-radius-base: 12px;
  --border-radius-max: 100px;

  /* Misc */
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 4px;
}

.app-shell {
  max-width: 430px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background-color: var(--color-light);
}

a {
  color: inherit;
}

.app-shell nav {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  width: 100%;
  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--spacing-base) var(--spacing-lg);
  }

  svg {
    height: 44px;
    width: 44px;
  }
}

main {
  height: 100%;
}

.home-page {
  padding: 16px;
}
